{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
    {% include "index.js" %}
</script>
<header class="title_background">
	<div class="row">
		<div class="col-md-6">
			<div class="jumbotron" style="background-color: transparent;margin-top: -20%; margin-left: 10%">
			 	<h1 class="display-4" style="font-family: cursive; font-size: 3em;font-weight: bold">BookIt- Event Manager Application</h1>
			 	<hr class="my-4">
				<p style="font-family: cursive; font-size: 20px;font-weight: bold">BookIt is an Event management website through which you can create, book and cancel virtual events.
				</p>
			</div>
			<div class="scroll_down_button">
				<div class="container">
				  <div class="chevron"></div>
				  <div class="chevron"></div>
				  <div class="chevron"></div>
				</div>
			</div>	
		</div>
	</div>
</header>

<section class="content">
	{% with mapping=mapping %}
	{% include "list_events.html" %}
	{% endwith %}
</section>

{% endblock %}